.dart_tool/
.idea/
.vscode/
*.log
**/doc/api/
coverage/
lcov.info
build/
**/build/
!**/extension/devtools/build/
!**/extension/devtools/build/**
.firebase/
.flutter-plugins*
.agents/
.config/
scratch/
